{% extends "base.html" %}

{% block content %}

<!-- Study Note Template -->
<div class="container">
    <div class="row">
      <div class="col s12">
          <div class="divider"></div>
            <div class="section">
                <h5>Understanding of Servers</h5>
                <p>Summary of the concept</p>
            </div>
      </div>
      <div class="col s6">Sub-concept 1</div>
      <div class="col s6">Sub-concept 2</div>
    </div>
    <div class="divider"></div>
</div>


<!-- Form -->
<div class="container">
    <form method="post">
        <h5>Leave your comments. I would appreciate. :) </h5>
        <br>
        <input type="text" name="comment" value={{comment}}>
        <br>
        {{comment}}
        {{error}}
        <br>
        <input type="submit">
    </form>
</div>

{% endblock %}
